@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&family=Staatliches&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Staatliches";
    background-color: rgb(217, 223, 230);
}
/*Nav Section*/
nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; 
    font-size: 20px;
}

li {
    margin: 5px 5px;
}

.logo {
    height: 70px;
    margin-bottom: 30px;
    padding: auto 0;
}

.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/*Hero Section*/
.hero {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-info {
    margin: 30px;
    max-width: 500px;
    font-size: 30px;
    color: white;
}

.hero .her-info .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.hero .hero-info .text span{
  color: rgb(0, 238, 255);
}

.hero-image {
    height: 300px;
    width: 300px;
    margin: 30px;
    border-radius: 150px;
    box-shadow: 0 0 15px rgb(94, 94, 94);
}
/*Media only hero*/
@media only screen and (max-width: 935px) {
  .hero-info {
    max-width: 500px;
  }
  .hero-image {
    visibility: hidden;
    height: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .menu-btn{
    display: block;
    z-index: 999;
    margin: 20px 10px;
}
.menu-btn i.active:before{
    content: "\f00d";
}
nav .navbar{
    display: block;
    position: fixed;
    height: 70vh;
    width: 100%;
    left: 100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
}
nav .navbar.active{
    left: 0;
}
nav .navbar li a{
    display: inline-block;
    color: white;
    margin: 20px 0;
    font-size: 25px;
}
  
}

#name {
    color: rgb(255, 255, 255);
    font-family: "Staatliches";
    font-size: 45px;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.style-break {
    width: 30px;
    height: 5px;
    background-color: royalblue;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}

.button {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Staatliches";
    background-color: skyblue;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(19, 49, 146);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}
/*Section*/
section {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.about-me {
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.info {
    max-width: 300px;
    margin: 30px;
}

.info h2 a:hover {
    color: black;
}

.avatar {
    width: 150px;
}

.fab {
  margin: 5px;
  width: 30px;
  font-size: 32px;
}

#main {
    box-shadow: 2px 2px 5px;
}

form {
  margin: 0 0 40px 0;
}

.input-section {
  margin: 10px 0;
  display: flex;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.form-button {
    border: 0;
    padding: 5px 15px;
    font-size: 15px;
    font-family: "Staatliches";
    background-color: skyblue;
    width: 70px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: rgb(19, 49, 146);
}

.form-button:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}
/*FooterSection*/
footer {
    font-family: "Staatliches";
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:rgb(253, 4, 45)
}

a:active {
    color:rgb(75, 0, 12)
}


