@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&family=Staatliches&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Staatliches";
    background-color: rgb(217, 223, 230);
}

/*Nav Section*/
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none; 
    font-size: 20px;
    align-items: center;
}

li {
    margin: 5px 5px;
}

.logo {
    height: 70px;
    margin-bottom: 30px;
    padding: auto 0;
}
/*Story Section*/
.story{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-section h1{
  text-align: center;
}
.text{
  font-size: 20px;
  font-family: 'Open Sans';
  color: rgb(0, 0, 0);
  line-height: 30px;
  padding: 10px 60px;
  text-align: center;
  margin: 0 250px;
  margin-bottom: 40px;
}
#skills{
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}
.row{
  width: 960px;
}
.col-1{
  width: 450px;
  float: left;
}
.col-1 .heading{
  text-align: center;
}
.col-2{
  width: 450px;
  float: left;
}
.col-2 .heading{
  text-align: center;
}

#skills-list p{
  display: block;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*Media only hero*/
@media only screen and (max-width: 935px) {
  .hero-info {
    max-width: 500px;
  }
  .hero-image {
    visibility: hidden;
    height: 0px;
  }
}

#name {
    color: rgb(255, 255, 255);
    font-family: "Staatliches";
    font-size: 45px;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.style-break {
    width: 30px;
    height: 5px;
    background-color: royalblue;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}

.button {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Staatliches";
    background-color: skyblue;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(19, 49, 146);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}
/* Project section */
#project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-heading{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
.project-heading h3{
  font-size: 2.7rem;
  font-weight: 600;
}
.project-heading span{
  color: red;
}
.project-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(51, 51, 51);
  flex-wrap: wrap;
  margin: 20px;
}
.project-nav li{
  margin: 10px;
  padding: 5px 20px;
  color: rgb(160, 199, 233);
  list-style: none;
  cursor: pointer;
}

.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}
.project-content{
  width: 330px;
  padding: 15px;
  border: 1px solid gray;
  margin: 20px;
}
.project-content img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  transition: .4s;
}
.project-title{
  font-size: 20px;
}
.project-subtitle{
  font-size: 15px;
  font-weight: lighter;
  color: rgb(82, 82, 82);
  padding-bottom: 20px;
  padding-top: 5px;
}
.project-content:hover{
  box-shadow: 0 6px 8px rgb(233, 150, 150);
}
.project-content img:hover{
  transform: scale(1.07);
}
.button-code {
  border: 0;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Staatliches";
  background-color: skyblue;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.button-code:hover {
  background-color: rgb(19, 49, 146);
}

.button-code:active {
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
}
/*Section*/
section {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0 0 0;
}

form {
  margin: 10 0 40px 0;
}

form h2{
  font-size: 32px;
  margin-top: -50px;
  text-align: center;
}

.input-section {
  margin: 10px 0;
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 300px;
  height: 70px;
}

.form-button {
    border: 0;
    padding: 5px 5px;
    font-size: 20px;
    font-family: "Staatliches";
    background-color: skyblue;
    width: 90px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: rgb(19, 49, 146);
}

.form-button:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.fab {
  margin: 5px;
  width: 30px;
  font-size: 32px;
}

#main {
    box-shadow: 2px 2px 5px;
}

/*FooterSection*/
footer {
    font-family: "Staatliches";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15%;
    background-color: rgb(128, 128, 128);
    height: 150px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:rgb(253, 4, 45)
}

a:active {
    color:rgb(75, 0, 12)
}
